<div style="padding: 10px; height: 100%;" fxLayout="row" fxFlexLayout="space-around center">
  <div fxFlex="20" fxLayout="column" fxFlexLayout="center space-around">
    <mat-form-field>
      <mat-label>Date Range</mat-label>
      <mat-select [formControl]="selectedRange" (selectionChange)="filter($event)" multiple>
        <mat-option *ngFor="let week of weeks" [value]="week">
          {{week[0]}} to {{week[1]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngFor="let data of selectedRange.value">{{data[0]}} to {{data[1]}}</p>
  </div>
  <div fxFlex="80" fxLayout="column" fxFlexLayout="center stretch"> 
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>